<form action="/preferences" method="POST">
	<div>
		<fieldset>
			<legend>Categories</legend>
			<div class="categories">
				<% categories.forEach(category => { %>
					<label class="category-checkbox" style="border-color: <%= category.getColor('category.color') %>">
						<input type="checkbox" value="<%= category.slug %>" name="categories" <% if (user.preferences.categories.includes(category.slug)) { %>checked<% } %>> <%= category.getText('category.name') %>
					</label>
				<% }) %>
			</div>
		</fieldset>
	</div>
	<div>
		<label>
			How many recipes would you like each week?
			<div class="range">
				<span class="min">1</span>
				<input type="range" value="<%= user.preferences.frequency || 5 %>" min="1" max="7" name="frequency">
				<span class="max">7</span>
			</div>
		</label>
	</div>
	<div>
		<label>
			<div>
				For how many people are you cooking?
				<input type="number" <% if (user.preferences.servings) { %>value="<%= user.preferences.servings %>"<% } %> placeholder="2" name="servings" min="1">
			</div>
		</label>
	</div>
	<input type="hidden" value="true" name="initialSetupComplete">
	<input type="submit" value="Select categories">
</form>
