<%- include('application/head') %>

<article class="recipe">
  <h2 id="<%= recipe.uid %>"><%= recipe.getStructuredText('recipe.dish').asText() %></h2>
  <div class="meta">
    <p>Serves <%= recipe.getText('recipe.serves') %></p>
    <p><%= recipe.getText('recipe.preparation-time') %></p>
  </div>
</article>

<%- include('application/foot') %>
